node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

.vite/
.vitepress/
.cache/
output.log

dist/

.vscode/
.idea/

.DS_Store
Thumbs.db

.git
.gitignore
.github/
.env
.env.*
*.log
coverage/
.eslintrc*
.prettierrc*
README.md
docker-compose*.yml
Dockerfile
.dockerignore
