node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

.cache/
.vscode/
.idea/
dist/
logs/
output.log
.env
.env.*

.DS_Store
Thumbs.db

.git
.gitignore
.github/
*.log
coverage/
test/
tests/
*.test.js
*.spec.js
README.md
docker-compose*.yml
Dockerfile
.dockerignore
